.bg-container {
    background-color: #48aef0;
}

.image-card {
    border-radius: 47px;
    background: #e0e0e0;
    box-shadow:  7px 7px 14px #afafaf,
                 -7px -7px 14px #ffffff;
}

@media screen and (max-width: 1024px) {
    .card > div > h1 {
        font-size: 19px;
        height: 25%;
    }
}

@media screen and (max-width: 820px) {
    .card {
        height: 390px;
        margin: 30px 20px;
    }

    .card > div > h1 {
        font-size: 20px;
        height: 25%;
    }
}

@media screen and (max-width: 768px) {
    .bg-container {
        justify-content: space-evenly;
    }

    .card {
        height: 390px;
        margin: 30px 15px;
        width: 30%;
    }

    .card > div > h1 {
        font-size: 19px;
        height: 25%;
    }
}

@media screen and (max-width: 680px) {
    .card {
        height: 390px;
        margin: 35px 0px;
        width: 40%;
    }

    .card > div > h1 {
        font-size: 18px;
        height: 25%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 80%;
        margin: 130px 0;
    }

    .card > div > h1 {
        font-size: 20px;
        height: 25%;
    }
}

@media screen and (max-width: 375px) {
    .card {
        width: 80%;
        margin: 70px 0;
    }

    .card > div > h1 {
        font-size: 20px;
        height: 25%;
    }
}