img {
    border-radius: 47px;
}

@media screen and (max-width: 1024px){
    .film {
        flex-direction: column;
        height: 100%;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .text{
        width: 100%;
    }

    .description{
        text-align: center;
    }

    .text-data > p {
        text-align: center;
        flex-direction: column;
    }

    div > h1 {
        text-align: center;
    }
}

@media screen and (max-width: 820px){
    .container-title-img {
        width: 80%;
    }
}